@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');

:root {
    font-family: "Vesper Libre", Verdana, Geneva, Tahoma, sans-serif !important;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #00123c;
    --secondary-color: #002e5d;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
